/* Light theme (default) */
:root[data-theme="light"] {
  --bg-main: #ede8e0;

  --bg-card: #ffffff;
  --bg-card-soft: rgba(255, 255, 255, 0.85);

  --text-main: #2f2a26;
  --text-muted: #6b625c;

  --border-soft: rgba(0, 0, 0, 0.12);

  --accent-1: #9b8cff;
  --accent-2: #ff9ad5;

  --button-disabled-1: #cfc9ff;
  --button-disabled-2: #ffd1e6;
}

/* Dark theme */
:root[data-theme="dark"] {
  --bg-main: #121212;

  --bg-card: #1c1c1c;
  --bg-card-soft: rgba(28, 28, 28, 0.85);

  --text-main: #ededed;
  --text-muted: #b9b9b9;

  --border-soft: rgba(255, 255, 255, 0.12);

  --accent-1: #9b8cff;
  --accent-2: #ff9ad5;

  --button-disabled-1: #4a4680;
  --button-disabled-2: #7a3d5c;
}